/**
 * These are the Spark Theme overrides.
 */

blockquote {
  margin: 5rem 0;
}

blockquote p {
  margin-top: 0;
}

.spark-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  /*display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;*/
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
/*      line-height: 1em;
*/
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  font-size: 35px;
  margin-right: -10px;
  color: #E60000;
  float:left;
  margin-left:-17px;
}
@media only screen and (max-width: 768px) {
  .spark-icon { margin-left: 0px; }
}
